<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h3>Add Bid</h3>
      <div class="highest-bid">
        Current Highest Bid : {{ highestBid | currency: 'INR' }}
      </div>
    </div>
    <form [formGroup]="BidForm" (ngSubmit)="placeBid()" class="card-body">
      <div class="form-group">
        <label for="currentProductId">Product Id</label>
        <input type="number" class="form-control" formControlName="ProductId" [value]="currentProductId" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="currentUserId">User Id</label>
        <input type="number" class="form-control" formControlName="UserId" [value]="currentUserId" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="BidAmount">Bid Amount</label>
        <input type="number" class="form-control" formControlName="BidAmount" placeholder="Enter Bid Amount">
        <div *ngIf="BidForm.controls['BidAmount'].invalid && BidForm.controls['BidAmount'].touched" class="text-danger">
          Bid amount must be greater than the current highest bid.
        </div>
      </div>
      <div class="form-group">
        <label for="BidTime">Bid Time</label>
        <input type="date" class="form-control" formControlName="BidTime">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Place Bid</button>
      </div>
    </form>
  </div>
</div>
